.button {
    display: flex;
    justify-content: flex-end; 

    padding-bottom: 8rem;
}


button {
    width: 17.7rem;
    height: 4.8rem;
    margin-top: 4.8rem;

    background-color: #1D6FB6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

        h1 {
            font-size: 1.6rem;
        }
    }
