* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#layout {
    background-color: #131516;
}

:root {
    font-size: 62.5%;

    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

h2 {
    color: var(--text-heading);
    font-family: 'open sans', sans-serif;

    font-weight: lighter;
}

h1 {
    font-family: 'Baloo 2', sans-serif;
    color: #F9F9F9;
}