.titulo {
    padding-top: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    input {
        width: 100%;
        height: 4.8rem;

        border-radius: .8rem;
        border: none;
        border: 1px solid #363B40;

        padding-left: 1.6rem;
        font-family: 'open sans';
        font-style: normal;
        font-size: 1.6rem;
        color: #869198;
    }
    
}

.flex {
    padding-top: 1.6rem;
    display: flex;
    gap: 1.6rem;

        .form1 {
            input {
            width: 27.2rem; 
        } 
    }
        .form2 {
            input {
            width: 27.2rem;
        } 
    }

    .form1, .form2 {
        label {
            display: block;
            margin-bottom: 1.2rem;
        }
    }
}

.radio {
    display: inline;
    width: 27.2rem;
    flex-direction: row;
    align-items: flex-start;
    

    #flex {
        display: flex;
        margin-top: 1.2rem;

        border-radius: .8rem;
        background-color: #363B40;
    }  

    input {
        margin: .4rem;
        
        -webkit-appearance: none;
        -moz-appearance: none;
    
        border: 2px solid #000; 
        border-radius: .4rem; 
        
        cursor: pointer;
        width: 12rem;
        height: 4rem;

    }

    
}


